<form
ngForm
name="mainForm"
#f="ngForm"
class="form-container"
(ngSubmit)="onSubmit($event, f)"
>
  <fieldset>
      <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>
    <mat-form-field class="m--full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
  </fieldset>
  <fieldset>  
    <label id="m--radio-group-label">Pick your favorite season</label>
<mat-radio-group name="gradio"
*ngFor="let season of seasons; let i=index"
  aria-labelledby="m--radio-group-label"
  class="m--radio-group"
  [(ngModel)]="favoriteSeason">
  <mat-radio-button 
  class="m--radio-button"  
  [value]="season">{{season}}, i = {{ i + 1}}</mat-radio-button>
</mat-radio-group>
<div>Your favorite season is: {{favoriteSeason}}</div>
  </fieldset>
  <fieldset class="f-checkbox-list">
    <legend>Pick your favorite season</legend>
    <div class="ckbox-group">
       <mat-checkbox
       *ngFor="let season of seasons; let i=index"
       [name]="'cbbox_season_' + i"
          class="ckbox"
          [value]="season"
          [checked]="false"
          [ngModel]="false"
          #name="ngModel"
          (change)="onChangeCkbox($event, name)"
          indeterminate="true"
          labelPosition="before"
          [disabled]="false"
          [attr.mcheck]="!!name.value"
          >
        {{season}}, i = {{ i + 1}}
      </mat-checkbox>
    </div>
    <div class="total">
      <span class="totalChecked"> Total Checked: </span><br>
      <span class="totalUnChecked"> Total Unchecked: </span>
    </div>
  </fieldset>
  <div>
    <button type="submit" color="accent" class="btn" mat-button>Send</button>
  </div>
</form>


<div>
  <h3>Introduction</h3>
  <h4>page</h4>
  <h3>Body</h3>
  <h4>subpage</h4>
  <h3>Conclusion</h3>
  <h4>p</h4>
</div>