<p>
	main works!
</p>
<nav>
	<ul>
      <li><a routerLink="/" routerLinkActive="active">home</a></li>
    <li><a routerLink="/about" routerLinkActive="active">about</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">contact</a></li>
    <li><a routerLink="/contact/1" routerLinkActive="active">contact 1</a></li>
    <li><a routerLink="/contact/list" routerLinkActive="active">contact list</a></li>
    <li><a routerLink="/countries" routerLinkActive="active">Contries</a></li>
  </ul>	
</nav>
<main>
 
</main>